*{
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}